/my
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.demo
.env.production
.env.backup
.phpunit.result.cache
deploy*
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
phpcs
phpstan
phpstan.neon
README-private.md
yarn-error.log
